<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-brochure" data-toggle="collapse" class="accordion-toggle">
        Brochures
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse-brochure">
    <div class="panel-body">
      <div class="col-md-4">
        <%= image_tag 'port_thumbs/brochure_thumb.jpg', :class => 'img-responsive' %>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style">
          <%= image_tag 'eps.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            Vertical
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/8.5X11-TRIFOLD-IN-SMART-V2.eps">
              8.5x11 Trifold - Inside
            </a>
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/FI8.5X11-TRIFOLD-OUT-SMART-V2.eps">
              8.5x11 Trifold - Outside
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style">
          <%= image_tag 'jpg.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            Vertical
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/8.5X11-TRIFOLD-IN.jpg">
              8.5x11 Trifold - Inside
            </a>
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/8.5X11-TRIFOLD-OUT.jpg">
              8.5x11 Trifold - Outside
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <p class="text-center client-link">
          <a data-featherlight href="/images/products/brochure2.jpg">
            <br>View types of folds
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

