<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-business-cards" data-toggle="collapse" class="accordion-toggle">
        Business Cards
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse-business-cards">
    <div class="panel-body">
      <div class="col-md-4">
        <%= image_tag 'port_thumbs/silk_card_thumb.jpg', :class => 'img-responsive' %>
      </div>
      <div class="col-xs-4">
        <ul class="list-unstyled check-style"><%= image_tag 'eps.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            Horizontal
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/3.5X2-SMART-V2.eps">
              3.5x2
            </a>
          </li>
          <li>
            Vertical
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a href="/resources/templates/3.5X2-V-SMART-V2.eps">
              3.5x2
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul class="list-unstyled check-style"><%= image_tag 'jpg.png', :class => 'img-responsive filetype-icon'%><br>
          <li>
            Horizontal
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/3.5X2.jpg">
              3.5x2
            </a>
          </li>
          <li>
            Vertical
          </li>
          <li>
            <i class="fa fa-angle-right color-green"></i>
            <a data-featherlight href="/resources/templates/3.5X2-V.jpg">
              3.5X2
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

