<div id="footer-v6" class="footer-v6">
  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>Canary Print + Design</h2>
          </div>
          <p>Located in British Columbia, Canada, Canary Print + Design is a company that specializes in commercial print and design services.
          <p>From business cards to vinyl banners, and from postcards to road-side flags - we have the products that will make you stand out</p>
        </div>

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>SSL / Encryption</h2>
          </div>
          <ul class="list-unstyled link-news">
            <li>
              <p>Google Ranking</p>
              <small>SSL improves Google ranking and increases your businesses visibility on the internet</small>
            </li>
            <li>
              <p>Encryption = Security
               <small>Show your visitors you value their privacy by providing an encrypted connection</small>
            </li>
            <li>
              <p>Protection from Hackers</p>
              <small>Upgrade to the Gold Package and be secured from hackers, injection scripts, etc...</small>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>Connect with us</h2>
          </div>
          <ul class="list-unstyled  footer-items">
            <li>
              <a href="https://facebook.com/canaryprintdesign">
                <i class="radius-3x fa fa-facebook footer-icons"></i>
                acebook.com/canaryprintdesign
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/103311751310991558073/about">
                <i class="radius-3x fa fa-google footer-icons"></i>
                oogle.com/canaryprintdesign
              </a>
            </li>
          </ul>
        </div>

          <div class="col-md-3">
            <div class="heading-footer">
              <h2>Contact us</h2>
            </div>
            <ul class="list-unstyled footer-items">
              <li>
                <a href="https://www.google.com/maps/place/Canary+Print+%2B+Design/@49.234365,-124.051945,15z/data=!4m2!3m1!1s0x548898cf528b599d:0xac08bb6c008637d1?hl=en_uk">
                  <i class="fa fa-map-marker footer-icons"></i>
                  &nbsp &nbsp British Columbia and Alberta, Canada
                </a>
              </li>
              <li>
                <a href="tel:+1.778.300.3225">
                  <i class="fa fa-phone footer-icons"></i>
                 &nbsp +1.778.300.3225 (British Columbia)
                </a>
              </li>
              <li>
                <a href="tel:+1.587.287.0599">
                  <i class="radius-3x fa fa-phone footer-icons"></i>
                  &nbsp +1.587.287.0599 (Alberta)
                </a>
              </li>
              <li>
                <a href="mailto:info@canaryprint.ca">
                <i class="radius-3x fa fa-envelope footer-icons"></i>
                &nbsp info@canaryprint.ca
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 sm-margin-bottom-10">
          <ul class="list-inline terms-menu">
            <li class="silver">Copyright © 2015 - All Rights Reserved</li>
            <li><a href="/resources/terms">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=== End Footer v6 ===-->
