<div id="footer-v6" class="footer-v6">
  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 sm-margin-bottom-40">
          <div class="heading-footer">
            <h2>Canary Print + Design</h2>
          </div>
          <p>Located in British Columbia, Canada, Canary Print + Design is a company that specializes in commercial print and design services.
          <p>From business cards to vinyl banners, and from postcards to road-side flags - we have the products that will make you stand out</p>
        </div>

        <div class="col-md-3 sm-margin-bottom-40">
          <div class="heading-footer">
            <h2>Popular Products</h2>
          </div>
          <ul class="list-unstyled link-news">
            <li>
              <a href="/print/silk_cards">Silk Business Cards</a>
              <small>16pt, silk-laminated, metallic foil, and spot-UV</small>
            </li>
            <li>
              <a href="/print/standard_cards">Standard Business Cards</a>
               <small>16pt, uncoated or AQ coated, great value</small>
            </li>
            <li>
              <a href="/print/brochures">Brochures</a>
              <small>100lb stock, various folds and sizes</small>
            </li>
          </ul>
        </div>

        <div class="col-md-3 sm-margin-bottom-40">
          <div class="heading-footer">
            <h2>Resources</h2>
          </div>
          <ul class="list-unstyled footer-link-list">
            <li>
              <a href="/resources/guides">Guidelines and Templates</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>Contacts</h2>
          </div>
          <ul class="list-unstyled contacts">
            <li>
              <i class="radius-3x fa fa-map-marker"></i>
              British Columbia,<br>
              Canada
            </li>
            <li>
              <a href="tel:+1.587.287.0599">
                <i class="radius-3x fa fa-phone"></i>
                <strong>Alberta</strong><br>
                +1.587.287.0599
              </a>
            </li>
            <li>
              <a href="tel:+1.778.300.3225">
                <i class="fa fa-phone"></i>
                <strong>BC</strong><br>
                +1.778.300.3225
              </a>
            </li>
            <li>
              <a href="mailto:info@canaryprint.ca">
              <i class="radius-3x fa fa-envelope"></i>
              info@canaryprint.ca
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 sm-margon-bottom-10">
          <ul class="list-inline terms-menu">
            <li class="silver">Copyright © 2015 - All Rights Reserved</li>
            <li><a href="/resources/terms">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=== End Footer v6 ===-->
