<div id="footer-v6" class="footer-v6">
  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>Locations</h2>
          </div>
            <ul class="list-unstyled footer-items">
              <li>
                <a href="https://www.google.com/maps/place/Canary+Print+%2B+Design/@49.234365,-124.051945,15z/data=!4m2!3m1!1s0x548898cf528b599d:0xac08bb6c008637d1?hl=en_uk">
                  <i class="icon-location footer-icons"></i>
                  British Columbia and Alberta, Canada
                </a>
              </li>
            </ul>
        </div>

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>BC Contact</h2>
          </div>
          <ul class="list-unstyled">
            <li>
              <a href="tel:+1.778.300.3225">
                <i class="icon-phone footer-icons"></i>
                +1.778.300.3225 <br>(British Columbia)
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>Alberta Contact</h2>
          </div>
          <ul class="list-unstyled ">
            <li>
              <a href="tel:+1.587.287.0599">
                <i class="icon-phone footer-icons"></i>
                +1.587.287.0599 <br>(Alberta)
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <div class="heading-footer">
            <h2>EMAIL</h2>
          </div>
          <ul class="list-unstyled footer-items">
            <li>
              <a href="mailto:info@canaryprint.ca">
              <i class="icon-mail footer-icons"></i>
              info@canaryprint.ca
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 sm-margin-bottom-10">
          <ul class="list-inline terms-menu">
            <li class="silver">Copyright © 2015 - All Rights Reserved</li>
            <li><a href="/resources/terms">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

