<form name="contact-form"
      action="https://static-files.canaryprint.ca/canaryprint.ca/contact-forms/ssl_form.php"
      data-ajax-form
      data-ajax-success="#contact-success"
      data-ajax-error="#contact-error">

  <label for="name-input">Your Name</label>
  <div class="input-group">
    <input name="name" type="text" class="form-control" id="name-input" required>
    <span class="input-group-addon"><i class="icon-user"></i></span>
  </div>

  <div class="voffset4"></div>

  <label for="comp_name-input">Company Name</label>
  <div class="input-group">
    <input name="comp_name" type="text" class="form-control" id="comp_name-input" required>
    <span class="input-group-addon"><i class="icon-warehouse"></i></span>
  </div>

  <div class="voffset4"></div>

  <label for="domain_name-input">Website(s)</label>
  <div class="input-group">
    <input name="domain_name" type="text" class="form-control" id="domain_name-input" required>
    <span class="input-group-addon"><i class="icon-link"></i></span>
  </div>

  <div class="voffset4"></div>

  <label for="email-input">Email Address</label>
  <div class="input-group">
    <input name="email" type="email" class="form-control" id="email-input" required>
    <span class="input-group-addon"><i class="icon-mail"></i></span>
  </div>

  <div class="voffset4"></div>

  <button type="submit" class="btn btn-primary btn-lg">Send message</button>
</form>

<div id="contact-success" class="hidden">
  <div class="alert alert-success" role="alert">
    <i class="contact-alert-icon icon-thumbs-up animated wow bounceIn" data-wow-duration="4s"></i>
    Thank you for your message!<br>
    <p class="alert-success">Your message has been received, and we'll respond as soon as possible.

  </div>
</div>

<div id="contact-error" class="hidden">
  <div class="alert alert-danger" role="alert">
    <i class="contact-alert-icon icon-exclamation-triangle animated wow tada" data-wow-duration=".5s" data-wow-iteration="10"></i>
    Oops!  Something went wrong.<br>
    <p class="alert-danger">The form didn't submit for some reason.
    <p class="alert-danger">Please send us an <a class="client-link" href="mailto:info@canaryprint.ca"> email</a> and let us know so we can fix it.
  </div>
</div>
