---
priority: 0.1
---

<div class="jumbotron jumbollax jumbollax6">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">SSL Terms and Conditions</h1>
    <div class="voffset6"></div>
  </div>
</div>

<div class="container">
<br>
<h3>Installation/Testing/Verification </h3>
<p>This process involves setting up your SSL Certificate, changing your registrar DNS to route through a secure server, redirecting visitors to HTTPS instead of HTTP, and modifying your site (Wordpress, Joomla, etc...) to reflect secure links for images, stylesheets, and scripts.  This involves manual adjustments and often plugins.  If your website or system is built in such a way that this process is frustrated (due to poor code, old systems, etc), you will be notified that it will cost extra to be completed.  If you do not wish to complete the process, you will be refunded your installation fee.</p>
<br>
<h3>Monthly Certificate Fee</h3>
<p>There is a recurring fee for keeping your SSL Certificate valid and secure, keeping the redirects active, CDN for performance boosts, CSS and Image Optimizations, and Firewall Protection from hackers, malicious scripts, and SQL injections.  This fee is payable in advance, at the beginning of the month, and is handled by paypal on automatic withdrawel.</p>
<br>
<h3>Cancellation:</h3>
<p>You may stop your recurring payments and cancel the service at any time, for any reason. When you cancel the service, your recurring payments will stop and you will lose the protection of SSL and HTTPS Security on your site, and the added benefits from Google page-ranking and protection from hackers. You are free to change your site settings back yourself, or hire us at our hourly rate to return things the way they were before SSL Protection.
</p>
<br>
<h2>Questions/Concerns</h2>
<p>If you have any questions or concerns, please feel free to contact us and we'll be happy to clear up any confusion.</p>
<br><br>
<a class="btn btn-success buy-button" href="/payment">
Return to payment page and purchase SSL Protection
</a>
<br><br><br>
</div>
