<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-brochure" data-toggle="collapse" class="accordion-toggle">
        Brochures
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse-brochure">
    <div class="panel-body">
      <div class="col-md-4">
        <a class="cbp-lightbox" href="../resources/templates/8.5X11-TRIFOLD-IN.jpg"><%= image_tag 'port_thumbs/brochure_thumb.jpg', :class => 'img-responsive' %></a>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'eps.png', :class => 'img-responsive', :style => 'height:50px; margin: 0 auto;' %><br>
          <li>
            Vertical
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/8.5X11-TRIFOLD-IN-SMART-V2.eps">
              8.5x11 Trifold - Inside
            </a>
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/FI8.5X11-TRIFOLD-OUT-SMART-V2.eps">
              8.5x11 Trifold - Outside
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'jpg.png', :class => 'img-responsive', :style => 'height:50px; margin: 0 auto;' %><br>
          <li>
            Vertical
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a class="cbp-lightbox" href="../resources/templates/8.5X11-TRIFOLD-IN.jpg" class="cbp-lightbox">
              8.5x11 Trifold - Inside
            </a>
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a class="cbp-lightbox" class="cbp-lightbox" href="../resources/templates/8.5X11-TRIFOLD-OUT.jpg">
              8.5x11 Trifold - Outside
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

