<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-postcard" data-toggle="collapse" class="accordion-toggle">
        Postcards
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse-postcard">
    <div class="panel-body">
      <div class="col-md-4">
        <%= image_tag 'port_thumbs/postcard_thumb.jpg', :class => 'img-responsive' %>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'eps.png', :class => 'img-responsive', :style => 'height:50px; margin: 0 auto;' %><br>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/4X6-SMART-V2.eps">
              4X6
            </a>
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/5X7-SMART-V2.eps">
              5X7
            </a>
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/6X9-SMART-V2.eps">
              6X9
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'jpg.png', :class => 'img-responsive', :style => 'height:50px; margin: 0 auto;' %><br>
          <li><i class="fa fa-angle-right color-green"></i>
            <a class="cbp-lightbox" href="../resources/templates/4X6.jpg">
              4X6
            </a>
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a class="cbp-lightbox" href="../resources/templates/5X7.jpg">
              5X7
            </a>
          </li>
          <li><i class="fa fa-angle-right color-green"></i>
            <a class="cbp-lightbox" href="../resources/templates/6X9.jpg">
              6X9
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

