<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-standup-banner" data-toggle="collapse" class="accordion-toggle">
        Retractable Stand-Up Banners
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse-standup-banner">
    <div class="panel-body">
      <div class="col-md-4">
        <%= image_tag 'port_thumbs/standup_banner_thumb.png', :class => 'img-responsive' %>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'eps.png', :class => 'img-responsive', :style => 'height:50px; margin: 0 auto;' %><br>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/G4M-33X80-RETRACTBANNER.eps">
              80x33
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled check-style"><%= image_tag 'jpg.png', :class => 'img-responsive', :style => 'height:50px; margin: 0 auto;' %><br>
          <li><i class="fa fa-angle-right color-green"></i>
            <a href="../resources/templates/G4M-33X80-RETRACTBANNER.jpg">
              80X33 (Large file!)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

