<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#collapse-One" data-toggle="collapse" class="accordion-toggle">
        TITLE
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse in" id="collapse-One">
    <div class="panel-body">
      FILE STUFF
    </div>
  </div>
</div>
