<form name="contact-form" method="post" action="contact_form.php">
  <label for="name-input">Name</label>
  <div class="input-group">
    <input type="text" class="form-control" id="name-input" required>
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
  </div>

  <div class="voffset4"></div>

  <label for="email-input">Email Address</label>
  <div class="input-group">
    <input type="email" class="form-control" id="email-input" required>
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
  </div>

  <div class="voffset4"></div>

  <label for="message-input">Your Message</label>
  <div class="input-group">
    <textarea type="txt" rows="6" class="form-control" id="message-input" placeholder="How can we help?" required></textarea>
    <span class="input-group-addon"><i class="fa fa-comment" ></i></span>
  </div>

  <div class="voffset4"></div>

  <button type="submit" class="btn btn-primary btn-lg">Send message</button>
</form>
