<nav class="header-fixed">
  <div class="header-v6 header-dark-scroll header-dark-dropdown header-sticky header-border-bottom">
    <div class="navbar mega-menu" role="navigation">
      <div class="container">
        <div class="menu-container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%= image_tag 'nav_logo_yellow.png', :class => 'default-logo', :style => 'height:60px;' %>
            <%= image_tag 'nav_logo_black.png', :class => 'shrink-logo', :style => 'height:60px;' %>
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
          <div class="menu-container">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to 'Home', '/' %></li>
              <li class="dropdown">
                <a href="/print">Print<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Resources</li>
                  <li><a href="/resources/guides">Guidelines and Templates</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/design">Design</a>
              </li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a style="cursor:default" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/resources/guides">Guidelines and Templates</a></li>
                <li><a href="/resources/faq">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!--/.container-fluid -->
    </div>
  </div>
</nav>
