<li class="col-md-3 col-sm-6 col-xs-12 mix cat_top cat_large cat_indoor " data-cat="#">
  <a href="/print/canvas">
    <%= image_tag 'port_thumbs/canvas.jpg', :class => 'img-responsive' %>
    <span class="sorting-cover">
      <h3 class="text-center">Mounted Canvas</h3>
    </span>
  </a>
</li>
