<li class="col-md-3 col-sm-6 col-xs-12 mix cat_large cat_outdoor " data-cat="#">
  <a href="/print/flags">
    <%= image_tag 'port_thumbs/flag_thumb.jpg', :class => 'img-responsive' %>
    <span class="sorting-cover">
      <h3 class="text-center">Flags</h3>
      <p></p>
    </span>
  </a>
</li>
