<li class="col-md-3 col-sm-6 col-xs-12 mix cat_indoor cat_large cat_outdoor" data-cat="#">
  <a href="/print/posters">
    <%= image_tag 'port_thumbs/poster.jpg', :class => 'img-responsive' %>
    <span class="sorting-cover">
      <h3 class="text-center">Posters</h3>
      <p></p>
    </span>
  </a>
</li>
