<li class="col-md-3 col-sm-6 col-xs-12 mix cat_top cat_marketing " data-cat="#">
  <a href="/print/standard_cards">
    <%= image_tag 'port_thumbs/standard_card_thumb.jpg', :class => 'img-responsive' %>
    <span class="sorting-cover">
      <h3 class="text-center">Standard Cards</h3>
      <p></p>
    </span>
  </a>
</li>
