---
title: "Canary Print + Design"
---

<div class="jumbotron jumbollax jumbollax3">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Client Case-Study</h1>
    <div class="voffset6"></div>
  </div>
</div>

<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="/images/clients/3percent1.jpg">
            <div class="carousel-caption">
              <p>Front of 3percent Realty's business card. The brand is strongly recognized in the clients location (Vernon, BC), so branding conistency was maintained. We designed a clean card and suits the colors and imagery very well </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/images/clients/3percent2.jpg">
            <div class="carousel-caption">
              <p>An example of one of their cards, featuring Justin Vanderham and his jaw-line</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/images/clients/3percent3.jpg">
            <div class="carousel-caption">
              <p>Another one of their cards, featuring a hard-working Realtor, Mark Waghorn</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/images/clients/3percent4.jpg">
            <div class="carousel-caption">
              <p>An example of their card, featuring Steve Wensley.  If his eyes don't melt you, his house-selling skills certainly will.</p>
            </div>
          </div>
        </div>
        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h2>3% Realty</h2>
      <p>3% Realty has been doing amazing work in Vernon, BC, for many years now. By being one of the most affordable and professional realty companies in Vernon, they've succeeded in making countless dreams come true - from first-time home-buyers to retirees.
      </p>
      <p>They were the #1 producing office for 2014 in the North Okanagan, and with the help of Canary and our fantastic <span class="color-orange">Print + Design team</span>, we trust they'll continue being top!
      </p>
      <br><br>
      <a class="client-link" href="http://3percentrealty.net/">http://3percentrealty.net/</a>
      <br><br>
      <blockquote class="bq-text-lg">
        <p>
          <i>"The cards that Canary printed for us have been stellar. Once having quality cards like these, I could never go back!"</i>
        </p>
        <small>
          <em>Steve Wensley, 3% Realty</em>
        </small>
      </blockquote>
    </div>
  </div>
  <div class="margin-bottom-20 clearfix">
  </div>
</div>
