---
title: "Canary Print + Design"
---


<div class="jumbotron jumbollax jumbollax3">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Client Case-Study</h1>
    <div class="voffset6"></div>
  </div>
</div>



<div class="container">

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Carousel -->
    <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="../images/clients/aslan1.jpg">
            <div class="carousel-caption">
              <p>Front of Aslan Ventures business card. We decided to go with a bold choice and really crop tight on their logo.  The result is a strong brand that really reflects their objectives of strength and nature.</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/aslan2.jpg">
            <div class="carousel-caption">
              <p>The back of their business card was designed with clean lines in mind as we wanted to direct people's attention to their services and contact information</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/aslan3.jpg">
            <div class="carousel-caption">
              <p>An advertising postcard intended to convey the ability of Aslan Ventures to design and construct beautiful gardens</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/aslan4.jpg">
            <div class="carousel-caption">
              <p>The front of the previous postcard</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/aslan5.jpg">
            <div class="carousel-caption">
              <p>A postcard that was created for a winter campaign and snow-removal. Bold colors and contrast were used to draw attention</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- End Carousel -->

    <!-- Content Info -->
    <div class="col-md-5">
      <h2>Aslan Ventures INC.</h2>
      <p>Our relationship with Aslan Ventures INC. has been ongoing for several years. Starting with a contract to assist with final branding and logo, things developed in to several projects, including business cards, postcards, rack-cards, and a website (coming soon!)</p>
      <p>We look forward to continuing our work with them as they develop their company and brand in to the future
      </p>
      <br><br>
      <a style="font-size:25px" href="http://www.aslanventures.ca" >http://www.aslanventures.ca</a>
      <br><br>
      <blockquote class="bq-text-lg">
        <p><i>"Nice Words!"</i>
        </p>
        <small><em>Chris Jensen, Aslan Ventures INC</em></small>
      </blockquote>
    </div>
    <!-- End Content Info -->
  </div><!--/row-->


  <div class="margin-bottom-20 clearfix"></div>
  </div><!--/container-->
<!--=== End Content Part ===-->
</div>
