---
title: "Canary Print + Design"
---


<div class="jumbotron jumbollax jumbollax3">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Client Case-Study</h1>
    <div class="voffset6"></div>
  </div>
</div>



<div class="container">

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Carousel -->
    <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="../images/clients/calvori1.jpg">
            <div class="carousel-caption">
              <p>A reprint of an existing business card. No changes were made to design or layout</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/calvori2.jpg">
            <div class="carousel-caption">
              <p>An assortment of other printed materials, including letterhead, notepads, and referral forms</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/calvori3.jpg">
            <div class="carousel-caption">
              <p>A custom-designed website for the client. The client was very easy to work with, as he had a very specific idea of what he wanted in regards to color palette and site-features (like the image galleries)</p>
            </div>
          </div>
        </div>
        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- End Carousel -->

    <!-- Content Info -->
    <div class="col-md-5">
      <h2>Calvori Hearing</h2>
      <p>Calvori Hearing is Nanaimo's only hearing clinic staffed by a full-time audiologist!  Canary had the pleasure of working with Luigi and his staff with their photos, website, and print material.</p>
      <p>As an added bonus, we were also treated to a hearing test, and our hearing curve is where it should be, so that was good news!  I encourage everyone to get their hearing tested, and obviously recommend Calvori Hearing. If your hearing is good but you need print + design or a website, we definitely recommend Canary.
      </p>
      <br><br>
      <a style="font-size:25px" href="http://calvorihearing.com/" >http://calvorihearing.com/</a>
      <br><br>
    </div>
    <!-- End Content Info -->
  </div><!--/row-->
  <blockquote class="bq-text-lg">
    <p><i>"We hired Canary to design our website, to provide continuing printing services, and some professional photography.  Above all, Canary is a gem to deal with: very pleasant, very reliable, and very thorough.  And we are extremely pleased with the quality of their work."</i>
    </p>
    <small><em>Luigi Calvori, Calvori Hearing</em></small>
  </blockquote>

  <div class="margin-bottom-20 clearfix"></div>
  </div><!--/container-->
<!--=== End Content Part ===-->
</div>
