<div class="jumbotron jumbollax jumbollax3">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Client Case-Study</h1>
    <div class="voffset6"></div>
  </div>
</div>

<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="/images/clients/canadiansteam1.jpg">
            <div class="carousel-caption">
              <p>This is the back of the business card Canary designed for Canadian Steam. With a low-contrast maple leaf highlighted by Spot-UV, this card garnered a lot of compliments from the clients of Canadian Steam</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/images/clients/canadiansteam2.jpg">
            <div class="carousel-caption">
              <p>Canary was requested to create a cartoon to commemorate a job that Canadian Steam was involved in that included an octopus.  This is the original drawing from Canadian Steam as the concept</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/images/clients/canadiansteam3.jpg">
            <div class="carousel-caption">
              <p>This is the rough draft returned by the Canary design-team. Canadian Steam was overwhelmingly happy with the result</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="/images/clients/canadiansteam4.jpg">
            <div class="carousel-caption">
              <p>This is the final product, ready for production. The graphic was turned in to hard-hat stickers for all the trades involved on the project</p>
            </div>
          </div>
        </div>
        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="icon-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="icon-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h2>Canadian Steam INC</h2>
      <p>Canadian Steam is a company involved in service, sales, and rentals of steam and hot-water boilers. Canary has been involved with several projects, including print, design, and a private intranet web-application for tracking employee hours.
      </p>
      <p>We look forward to more fun projects like OctoCowboys riding Remote-Operated-Vehicles!
      </p>
      <br><br>
      <a class="client-link" href="http://canadiansteam.com/">http://canadiansteam.com/</a>
    </div>
    <div class="margin-bottom-20 clearfix">
    </div>
    <div class="col-md-12">
      <blockquote class="bq-text-lg">
        <p>
          <i>"We have been impressed with the unique creativity that has been provided, especially with the octopus cowboy hardhat stickers we had done on super-short notice, to give to other trades to commemorate a marine salvage job we assisted with in 2013.<br>
          Our business cards, logo, and truck wraps have a professional look"</i>
        </p>
        <small>
          <em>Owner, Canadian Steam</em>
        </small>
      </blockquote>
    </div>
  </div>
  <div class="margin-bottom-20 clearfix">
  </div>
</div>
