---
title: "Canary Print + Design"
---


<div class="jumbotron jumbollax jumbollax3">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Client Case-Study</h1>
    <div class="voffset6"></div>
  </div>
</div>



<div class="container">

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">
    <!-- Carousel -->
    <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="../images/clients/surespan1.jpg">
            <div class="carousel-caption">
              <p>A reprint of an existing business card. Canary rebuilt the layout, creating a template for all future cards and print </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/surespan2.jpg">
            <div class="carousel-caption">
              <p>The cards were printed on thick 16pt card-stock, with a silk-laminate finish, and an eye-catching Silver Foil logo</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/surespan3.jpg">
            <div class="carousel-caption">
              <p>Surespan Group has been expanding in to many different fields. These pull-up banner stands were made for Surespan Wind Energy Services for a tradeshow in Toronto</p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../images/clients/surespan4.jpg">
            <div class="carousel-caption">
              <p>Infinity Engineering is a part of the Surespan Group, and these cards were made for them.  Sporting a silk-laminate finish on our 16pt card-stock, the staff have indicated they were very impressed with the premium quality cards</p>
            </div>
          </div>
        </div>
        <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- End Carousel -->

    <!-- Content Info -->
    <div class="col-md-5">
      <h2>Surespan Group</h2>
      <p>Surespan Group is another long-time client of Canary Print + Design. We have designed + printed stand-up banners, business cards, and we've done all the photos for their web development projects.</p>
      <p>We have worked with over half a dozen of their companies, and continue to meet their service and product needs going in to the future!
      </p>
      <br><br>
      <a style="font-size:25px" href="http://www.surespan.com/">http://www.surespan.com/</a>
      <br><br>
      <blockquote class="bq-text-lg">
        <p><i>"Canary did great things. Thanks Canary."</i>
        </p>
        <small>
        <em>Client</em>
        </small>
      </blockquote>
    </div>
    <!-- End Content Info -->
  </div><!--/row-->



  <div class="margin-bottom-20 clearfix"></div>
  </div><!--/container-->
<!--=== End Content Part ===-->
</div>
