<% link_to(href, class: "exemplar-item") do %>
  <%= image_tag image %>
  <div class="exemplar-mask">
    <div class="exemplar-caption">
      <h2><%= name %></h2>
      <ul class="list-unstyled">
        <% tags.each do |tag| %>
          <li><%= tag.to_s.titleize %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
