<form name="contact-form"
      action="https://static-files.canaryprint.ca/canaryprint.ca/contact-forms/promo_email_cta.php"
      data-ajax-form
      data-ajax-success="#contact-success"
      data-ajax-error="#contact-error">

  <div class="voffset4"></div>

  <label for="email-input">Email Address</label>
  <div class="input-group">
    <input name="email" type="email" class="form-control promo-cta-form" id="email-input" required placeholder="Enter your email">
    <span class="input-group-addon"><i class="icon-mail"></i></span>
  </div>
  <div class="voffset4"></div>
  <button type="submit" class="btn btn-primary btn-lg promo-cta-btn">Give me the deal</button>
</form>
  <div class="voffset4"></div>
<div id="contact-success" class="hidden">
  <div class="alert alert-success" role="alert">
    <i class="contact-alert-icon icon-thumbs-up animated wow bounceIn" data-wow-duration="4s"></i>
    Thank you for your message!<br>
    <p class="alert-success">Your message has been received, and we'll respond as soon as possible.
  </div>
</div>

<div id="contact-error" class="hidden">
  <div class="alert alert-danger" role="alert">
    <i class="contact-alert-icon icon-attention animated wow tada" data-wow-duration=".5s" data-wow-iteration="10"></i>
    Oops!  Something went wrong.<br>
    <p class="alert-danger">The form didn't submit for some reason.
    <p class="alert-danger">Please send us an <a class="client-link" href="mailto:info@canaryprint.ca"> email</a> and let us know so we can fix it.
  </div>
</div>
