.product-jumbo {
  color:#E8E8E8 !important;
  margin-top: 220px;
  margin-bottom: 180px;
}

.spec-icon {
  color: #809BBF;
  font-size: 45px !important;
  vertical-align: top;
}

.spec-heading {
  margin-bottom: 0;
  font-weight: 800;
  vertical-align: top;
}

.spec-col {
  padding-left: 0px !important;
}

.spec-list .media-left {
  width: percentage(2/12);
}

.icon-rotate-180::before {
  @include transform(rotate(180deg));
}

.btn-free-quote,
a.btn-free-quote {
  font-size: 25px;
  padding: 15px 30px;
  white-space: normal;
}
