---
title: "Canary - Brochures"
priority: 0.8
---

<%= partial "product_page", locals: {
  product: {
    name:        "Brochures",
    by_line:     "Brochures and Flyers - Use them for menus, price-lists, services, and many more!",
    description: "Our premium quality brochures and flyers are an effective way of getting important information to your clients",
    images: [{
      src:         "products/brochure1.jpg",
      caption:     "<a href='http://www.synergydayspa.ca/'>Synergy Day Spa</a> - services and prices brochure",
    }, {
      src:         "products/brochure2.jpg",
      caption:     "A diagram of the various folds available",
    }],
    tags: [{
      icon_class:  "fa-paste",
      name:        "Paper Stock",
      value:       "70lb, 80lb, 100lb"
    }, {
      icon_class:  "fa-clock-o",
      name:        "Production Time",
      value:       "2-4 Days + Shipping"
    }, {
      icon_class:  "fa-rotate-180 fa-sort-amount-asc",
      name:        "Quantity",
      value:       "100 - 25,000pcs"
    }, {
      icon_class:  "fa-cog",
      name:        "Standard Finishes",
      value:       "No Coating, AQ, Satin AQ, UV"
    }, {
      icon_class:  "fa-cogs",
      name:        "Additional Finishes",
      value:       "Folding and Bundling available"
    }]
  },
  related_products: [
    "postcards",
    "banners",
    "posters",
    "silk_cards"
  ]
} %>
