---
title: "Canary - Postcards / Rack Cards"
priority: 0.9
---

<%= partial "_partials/product_page", locals: {
  product: {
    name:        "Postcards and Rack Cards",
    by_line:     "Bulk-Mail ad compaigns?  We do that too!",
    description: "Postcards and Rack Cards are fantastic tools for generating additional business.  Let us take care of your bulk-mailing campaigns to get the word out about your company, products, and services!!",
    images: [{
      src:         "products/postcard1.jpg",
      caption:     "A well-design postcard for <a href='http://aslanventures.ca'>Aslan Ventures</a>",
    }, {
      src:         "products/postcard2.jpg",
      caption:     "Custom banners to improve your sales",
    }, {
      src:         "products/postcard3.jpg",
      caption:     "Promote your business with postcards",
    }],
    tags: [{
      icon_class:  "icon-paste",
      name:        "Card Stock",
      value:       "100lb, 100lb Linen, 14pt, 16pt, 18pt"
    }, {
      icon_class:  "icon-clock",
      name:        "Production Time",
      value:       "2-4 Days + Shipping"
    }, {
      icon_class:  "icon-rotate-180 icon-sort-alt-up",
      name:        "Quantity",
      value:       "1,000 - 25,000pcs"
    }, {
      icon_class:  "icon-cog",
      name:        "Standard Finishes",
      value:       "AQ, Matte/Dull, Silk Laminate, Flood UV, Spot UV"
    }, {
      icon_class:  "icon-cog-alt",
      name:        "Additional Finishes",
      value:       "Bundling"
    }]
  },
  related_products: [
    "brochures",
    "silk_cards",
    "foil_cards",
    "thick_cards"
  ]
} %>
