---
title: "Canary - Business Cards"
---

<%= partial "product_page", locals: {
  product: {
    name:        "Standard Business Cards",
    by_line:     "Great Value and amazing prices",
    description: "Don't need anything fancy, and don't like thick business cards?  These cards are tough to beat for price.  The prices are so low, we can't even show them on the website for fear of being harassed by other print companies!",
    images: [{
      src:         "products/standard1.jpg",
      caption:     "A standard thickness card for <a href='http://calvorihearing.com'> Calvori Hearing</a>",
    }, {
      src:         "products/standard2.jpg",
      caption:     "A standard thickness card for <a href='http://www.vanislepaddleboardco.com/'>VanIsle Paddleboard Co.</a>",
    }],
    tags: [{
      icon_class:  "fa-paste",
      name:        "Card Stock",
      value:       "14pt"
    }, {
      icon_class:  "fa-clock-o",
      name:        "Production Time",
      value:       "2-4 Days + Shipping"
    }, {
      icon_class:  "fa-rotate-180 fa-sort-amount-asc",
      name:        "Quantity",
      value:       "100 - 100,000pcs"
    }, {
      icon_class:  "fa-cog",
      name:        "Standard Finishes",
      value:       "AQ, Matte/Dull, Metallic, Pearl, Natural, Spot UV, Silk-Laminate"
    }, {
      icon_class:  "fa-cogs",
      name:        "Additional Finishes",
      value:       "Rounded Corners"
    }]
  },
  related_products: [
    "silk_cards",
    "foil_cards",
    "thick_cards",
    "postcards"
  ]
} %>
