---
title: Canary - Thick Business Cards
---

<%= partial "product_page", locals: {
  product: {
    name:        "Thick Business Cards",
    by_line:     "Our most popular seller!!",
    description: "Almost every company has, and uses, business cards.  Our thick business cards ensure your company looks professional and respectable, and shows how much you value quality and workmanship",
    images: [{
      src:         "products/thick1.jpg",
      caption:     "A thick card with rounded corners",
    }, {
      src:         "products/thick5.jpg",
      caption:     "A beautifully designed 16pt card for <a href='http://www.vanislepaddleboardco.com/'> VanIsle Paddleboard Co. </a>",
    }],
    tags: [{
      icon_class:  "fa-paste",
      name:        "Card Stock",
      value:       "16pt, 18pt, 20pt Plastic"
    }, {
      icon_class:  "fa-clock-o",
      name:        "Production Time",
      value:       "2-4 Days + Shipping"
    }, {
      icon_class:  "fa-rotate-180 fa-sort-amount-asc",
      name:        "Quantity",
      value:       "500 - 100,000pcs"
    }, {
      icon_class:  "fa-cog",
      name:        "Standard Finishes",
      value:       "No Coating, AQ, Matte/Dull, Flood UV, Spot UV, Silk Laminate"
    }, {
      icon_class:  "fa-cogs",
      name:        "Additional Finishes",
      value:       "Rounded Corners, Various Sizes Available"
    }]
  },
  related_products: [
    "foil_cards",
    "silk_cards",
    "standard_cards",
    "postcards"
  ]
} %>
