/*Reset Styles
------------------------------------*/


a,
a:focus,
a:hover,
a:active,
button,
button:hover {
   outline: 0 !important;
}

a:focus {
  text-decoration: none;
}

hr {
  margin: 30px 0;
}

hr.hr-xs {
  margin: 10px 0;
}

hr.hr-md {
  margin: 20px 0;
}

hr.hr-lg {
  margin: 40px 0;
}

/*Headings*/
h1 {
  font-size: 28px;
  line-height: 35px;
}
h2 {
  font-size: 24px;
  line-height: 33px;
}
h3 {
  font-size: 20px;
  line-height: 27px;
}
h4 {
  line-height: 25px;
}
h5 {
  line-height: 20px;
}
h6 {
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
   margin-right: 5px;
}

/*Block Headline*/
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
  font-size: 22px;
}

.headline h2,
.headline h3,
.headline h4 {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #72c02c;
}

.headline-md {
  margin-bottom: 15px;
}

.headline-md h2 {
  font-size: 21px;
}

/*Heading Options*/
.heading {
  text-align: center;
}

.heading h2 {
  padding: 0 12px;
  position: relative;
  display: inline-block;
  line-height: 34px !important; /*For Tagline Boxes*/
}

.heading h2:before,
.heading h2:after {
  content: ' ';
  width: 70%;
  position: absolute;
  border-width: 1px;
  border-color: #bbb;
}

.heading h2:before {
  right: 100%;
}

.heading h2:after {
  left: 100%;
}

@media (max-width: 768px) {
  .heading h2:before,
  .heading h2:after {
    width: 20%;
  }
}






/*Tables
------------------------------------*/
/*Basic Tables*/
.table thead > tr > th {
  border-bottom: none;
}

@media (max-width: 768px) {
  .table th.hidden-sm,
  .table td.hidden-sm {
    display: none !important;
  }
}


/*Carousel v1
------------------------------------*/
.carousel-v1 .carousel-caption {
   left: 0;
   right: 0;
   bottom: 0;
   padding: 7px 15px;
   background: rgba(0, 0, 0, 0.7);
}

.carousel-v1 .carousel-caption p {
   color: #fff;
   margin-bottom: 0;
}

.carousel-v1 .carousel-arrow a.carousel-control {
   opacity: 1;
   font-size:30px;
   height:inherit;
   width: inherit;
   background: none;
   text-shadow: none;
   position: inherit;
}

.carousel-v1 .carousel-arrow a i {
   top: 50%;
   opacity: 0.6;
   background: #000;
   margin-top: -18px;
   padding: 2px 12px;
   position: absolute;
}
.carousel-v1 .carousel-arrow a i:hover {
   opacity: 0.8;
}

.carousel-v1 .carousel-arrow a.left i {
   left: 0;
}
.carousel-v1 .carousel-arrow a.right i {
   right: 0;
}

/*Carousel v2
------------------------------------*/
.carousel-v2 .carousel-control,
.carousel-v2 .carousel-control:hover {
  opacity: 1;
  text-shadow: none;
}

.carousel-v2 .carousel-control.left,
.carousel-v2 .carousel-control.right {
  top: 50%;
  z-index: 5;
  color: #eee;
  width: 45px;
  height: 45px;
  font-size: 30px;
  margin-top: -22px;
  position: absolute;
  text-align: center;
  display: inline-block;
  border: 2px solid #eee;
  background: rgba(0,0,0,0.1);
}

.carousel-v2 .carousel-control:hover {
  background: rgba(0,0,0,0.3);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.carousel-v2 .carousel-control.left {
  left: 20px;
}

.carousel-v2 .carousel-control.right {
  right: 20px;
}

.carousel-v2 .carousel-control .arrow-prev,
.carousel-v2 .carousel-control .arrow-next {
  top: -5px;
  position: relative;
}

.carousel-v2 .carousel-control .arrow-next {
  right: -2px;
}


@media (min-width: 768px) {
  .carousel-indicators {
    bottom: 10px;
  }
}



/*Accordions
------------------------------------*/
/*Accordion v1*/
.acc-v1 .panel-heading {
  padding: 0;
  box-shadow: none;
}

.acc-v1 .panel-heading a {
  display: block;
  font-size: 14px;
  padding: 5px 15px;
  background: #fefefe;
}

.acc-icon a.accordion-toggle i {
  color: #555;
  margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
  color: #39414c;
}



/*Testimonials
------------------------------------*/
/*Testimonials*/
.testimonials {
  margin-bottom: 10px;
}

.testimonials .testimonial-info {
  color: #72c02c;
  font-size: 16px;
  padding: 0 15px;
  margin-top: 18px;
}

.testimonials .testimonial-info span {
  top: 3px;
  position: relative;
}

.testimonials .testimonial-info em {
  color: #777;
  display: block;
  font-size: 13px;
}

.testimonials .testimonial-info img {
  width: 60px;
  float: left;
  height: 60px;
  padding: 2px;
  margin-right: 15px;
  border: solid 1px #ccc;
}

.testimonials .testimonial-author {
  overflow: hidden;
}

.testimonials .carousel-arrow {
  top: -65px;
  position: relative;
}

.testimonials .carousel-arrow i {
  color: #777;
  padding: 2px;
  min-width: 25px;
  font-size: 20px;
  text-align: center;
  background: #f5f5f5;
}

.testimonials .carousel-arrow i:hover {
  color: #fff;
  background: #72c02c;
}

.testimonials .carousel-control {
  opacity: 1;
  width: 100%;
  text-align: right;
  text-shadow: none;
  position: absolute;
  filter: Alpha(opacity = 100); /*For IE*/
}

.testimonials .carousel-control.left {
  right: 27px;
  left: auto;
}
.testimonials .carousel-control.right {
  right: 0px;
}

/*Testimonials v1*/
.testimonials.testimonials-v1 .item p {
  position: relative;
}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v1 .item p:before {
  left: 80px;
  bottom: -20px;
}

.testimonials.testimonials-v1 .item p:after {
  border-top: 22px solid;
  border-left: 0 solid transparent;
  border-right: 22px solid transparent;
}

/*Testimonials v2*/
.testimonials.testimonials-v2 .testimonial-info {
  padding: 0 20px;
}

.testimonials.testimonials-v2 p {
  padding-bottom: 15px;
}

.testimonials.testimonials-v2 .carousel-arrow {
  top: -55px;
}

.testimonials.testimonials-v2 .item p:after,
.testimonials.testimonials-v2 .item p:before {
  left: 8%;
  bottom: 45px;
}

.testimonials.testimonials-v2 .item p:after {
  border-top: 20px solid;
  border-left: 25px solid transparent;
  border-right: 0px solid transparent;
}

/*General Testimonials v1/v2*/
.testimonials.testimonials-v1 p,
.testimonials.testimonials-v2 p {
  padding: 15px;
  font-size: 14px;
  font-style: italic;
  background: #f5f5f5;
}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v2 .item p:after {
  width: 0;
  height: 0;
  content: " ";
  display: block;
  position: absolute;
  border-top-color: #f5f5f5;
  border-left-style: inset; /*FF fixes*/
  border-right-style: inset; /*FF fixes*/
}

/*Testimonials Backgrounds*/
.testimonials-bg-dark .item p,
.testimonials-bg-default .item p {
  color: #fff;
  font-weight: 200;
}

.testimonials-bg-dark .carousel-arrow i,
.testimonials-bg-default .carousel-arrow i {
  color: #fff;
}

/*Testimonials Default*/
.testimonials-bg-default .item p {
  background: #72c02c;
}

.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
  border-top-color: #72c02c;
}

.testimonials-bg-default .carousel-arrow i {
  background: #72c02c;
}

.testimonials.testimonials-bg-default .carousel-arrow i:hover {
  background: #5fb611;
}

/*Testimonials Dark*/
.testimonials-bg-dark .item p {
  background: #555;
}

.testimonials.testimonials-bg-dark .item p:after,
.testimonials.testimonials-bg-dark .item p:after {
  border-top-color: #555;
}

.testimonials-bg-dark .carousel-arrow i {
  color: #fff;
  background: #555;
}

.testimonials.testimonials-bg-dark .carousel-arrow i:hover {
  background: #333;
}

.testimonials.testimonials-bg-dark .testimonial-info {
  color: #555;
}

/*Panels (Portlets)
------------------------------------*/
.panel-heading {
  color: #fff;
  padding: 5px 15px;
}

/*Panel Table*/
.panel .table {
  margin-bottom: 0;
}

/*Panel Unify*/
.panel-u {
   border-color: #72c02c;
}

.panel-u > .panel-heading {
   background: #72c02c;
}

/*Panel Blue*/
.panel-blue {
   border-color: #3498db;
}

.panel-blue > .panel-heading {
   background: #3498db;
}

/*Panel Red*/
.panel-red {
   border-color: #e74c3c;
}

.panel-red > .panel-heading {
   background: #e74c3c;
}

/*Panel Green*/
.panel-green {
   border-color: #2ecc71;
}

.panel-green > .panel-heading {
   background: #2ecc71;
}

/*Panel Sea*/
.panel-sea {
   border-color: #1abc9c;
}

.panel-sea > .panel-heading {
   background: #1abc9c;
}

/*Panel Orange*/
.panel-orange {
   border-color: #e67e22;
}

.panel-orange > .panel-heading {
   background: #e67e22;
}

/*Panel Yellow*/
.panel-yellow {
    border-color: #f1c40f;
}

.panel-yellow > .panel-heading {
     background: #f1c40f;
}

/*Panel Grey*/
.panel-grey {
   border-color: #95a5a6;
}

.panel-grey > .panel-heading {
   background: #95a5a6;
}

/*Panel Dark*/
.panel-dark {
   border-color: #555;
}

.panel-dark > .panel-heading {
   background: #555;
}

/*Panel Purple*/
.panel-purple {
   border-color: #9b6bcc;
}

.panel-purple > .panel-heading {
   background: #9b6bcc;
}

/*Panel Aqua*/
.panel-aqua {
   border-color: #27d7e7;
}

.panel-aqua > .panel-heading {
   background: #27d7e7;
}

/*Panel Brown*/
.panel-brown {
   border-color: #9c8061;
}

.panel-brown > .panel-heading {
   background: #9c8061;
}

/*Panel Dark Blue*/
.panel-dark-blue {
   border-color: #4765a0;
}

.panel-dark-blue > .panel-heading {
   background: #4765a0;
}

/*Panel Light Green*/
.panel-light-green {
   border-color: #79d5b3;
}

.panel-light-green > .panel-heading {
   background: #79d5b3;
}

/*Panel Default Dark*/
.panel-default-dark {
   border-color: #585f69;
}

.panel-default-dark > .panel-heading {
   background: #585f69;
}
