.contact-alert-icon {
  font-size: 40px;
}

.contacts {
  font-size: 13px;
}

.nav-logo {
  height: 60px;
}

.main-logo {
  max-height: 300px;
  margin: 0 auto;
}

.filetype-icon {
  height: 50px;
}

@media only screen and (max-width:1000px) {
    .filetype-icon { margin-top: 25px; }
}

.client-link {
  font-size: 25px;
}

.list-unstyled strong {
  font-size: 15px;
}

.promo-box a.promo-icons:hover {
  text-decoration: none;
}

@media (max-width:500px) {
    .jumbollax { background-attachment: scroll !important; }
}


.jumbollax1 { background: url(/images/bg1.jpg) 100% 0 fixed no-repeat; background-size: cover; }
.jumbollax2 { background: url(/images/bg2.jpg) 100% 0 fixed no-repeat; background-size: cover; }
.jumbollax3 { background: url(/images/bg3.jpg) 100% 0 fixed no-repeat; background-size: cover; }
.jumbollax4 { background: url(/images/bg4.jpg) 100% 0 fixed no-repeat; background-size: cover; }
.jumbollax5 { background: url(/images/bg5.jpg) 100% 0 fixed no-repeat; background-size: cover; }
.jumbollax6 { background: url(/images/bg6.jpg) 100% 0 fixed no-repeat; background-size: cover; }


.voffset    { margin-top: 2px; }
.voffset1   { margin-top: 5px; }
.voffset2   { margin-top: 10px; }
.voffset3   { margin-top: 15px; }
.voffset4   { margin-top: 30px; }
.voffset5   { margin-top: 40px; }
.voffset6   { margin-top: 60px; }
.voffset7   { margin-top: 80px; }
.voffset8   { margin-top: 100px; }
.voffset9   { margin-top: 150px; }
.voffset10  { margin-top: 200px; }
.voffset11  { margin-top: 250px; }


hr {
  border-top: 1px solid #838383;
}

.btn-lg,
a.btn-lg {
  font-size: 25px;
  padding: 15px 30px;
}

.spec-icon {
  color: #809BBF;
  font-size: 45px !important;
  vertical-align: top;
}

.spec-heading {
  font-weight: 800;
  vertical-align: top;
}

.spec-heading, .spec-desc {
}

.spec-col {
  padding-left: 0px !important;
}
