body {
   color: #333;
   font-size: 15px;
   line-height: 1.6;
}

body.header-fixed-space {
  padding-top: 94px;
}

@media (max-width: 991px) {
  body.header-fixed-space {
    padding-top: 0;
  }
}

p,
li,
li a,
label {
   color: #555;
}

a {
   color: #72c02c;
   text-decoration: none;
}

a,
a:focus,
a:hover,
a:active {
   outline: 0 !important;
}
a:focus {
  text-decoration: none;
}
a:hover {
   color: #72c02c;
   text-decoration: underline;
}


/*Main Styles
------------------------------------*/
/*Purchase Block*/
.purchase {
  padding: 25px 0 30px;
  border-bottom: solid 1px #eee;
  background: url(../img/patterns/breadcrumbs.png) repeat;
}
.purchase p {
  margin-bottom: 0;
}
.purchase span {
  color: #666;
  display: block;
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
  margin-bottom: 12px;
  font-family: "Open Sans", Arial, sans-serif;
}

.purchase .btn-buy {
  text-align: center;
}

.purchase .btn-buy a {
  margin-top: 27px;
}

.purchase .btn-buy a i {
  margin-right: 5px;
}

@media (max-width: 992px) {
  .purchase {
    text-align: center;
  }

  .purchase span {
    font-size: 22px;
    line-height: 29px;
  }

  .purchase .btn-buy a {
    margin-top: 25px;
    font-size: 16px;
  }
}


/*Portfolio Item Page v1
------------------------------------*/
.portfolio-item h2 {
  color: #555;
  font-size: 24px;
  margin: 0 0 15px;
}
.portfolio-item li {
  padding: 3px 0;
}
.portfolio-item p a {
  text-decoration: underline;
}
.portfolio-item p a:hover {
  text-decoration: none;
}

/*Portfolio Item v1*/
.portfolio-item1 ul {
  margin: 10px 0 20px;
}

.portfolio-item1 li {
  font-size: 16px;
  margin-bottom: 3px;
}

.portfolio-item1 li i {
  font-size: 18px;
  margin-right: 4px;
}

/*Sidebar Features
------------------------------------*/

/*Choose Block*/
.who li {
  margin-bottom: 6px;
}
.who li i {
  color: #72c02c;
  font-size: 13px;
  min-width: 15px;
  margin-right: 8px;
  text-align: center;
  position: relative;
}
.who li:hover i,
.who li:hover a {
  color: #777;
}
.who li:hover a:hover {
  text-decoration: none;
}

/*Promo Page
------------------------------------*/


/*Promo Box*/
.promo-box {
  padding: 20px;
  margin: 25px 0 20px;
  text-align: center;
}

.promo-box i {
  display: block;
  font-size: 80px;
}

.promo-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.promo-box strong,
.promo-box strong a {
  color: #555;
  display: block;
  font-size: 20px;
  font-weight: 200;
  margin: 20px 0 15px;
}

.promo-box:hover strong,
.promo-box:hover strong a {
  color: #72c02c;
    transition:all 0.15s ease-in-out;
}


/*Promo Elements*/
.title-box {
  font-size: 16px;
  text-align: center;
  padding: 10px 0 30px;
  border-bottom: solid 1px #eee;
}

.title-box .title-box-text {
  color: #555;
  display: block;
  font-size: 35px;
  font-weight: 200;
}

@media (max-width: 768px) {
  .title-box .title-box-text {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .title-box p {
    font-size: 15px;
  }
}

.block-blockquote {
  margin: 20px 0;
  text-align: center;
  border: dashed 1px #ccc;
}

.block-blockquote-inner {
  padding: 15px;
}

.block-blockquote p {
  font-size: 26px;
  margin-bottom: 0;
}

/*Info Blocks*/
.info-blocks {
  margin-bottom: 15px;
}

.info-blocks i.icon-info-blocks {
  float: left;
  color: #777;
  font-size: 30px;
  min-width: 50px;
  margin-top: 10px;
  text-align: center;
}

.info-blocks .info-blocks-in {
  padding: 0 10px;
  overflow: hidden;
}

.info-blocks .info-blocks-in h3 {
  color: #555;
  font-size: 20px;
  line-height: 28px;
}

.info-blocks .info-blocks-in p {
  font-size: 12px;
}




/*Background Opacity
------------------------------------*/
.service-or {
  overflow: hidden;
  position: relative;
}

.service-bg {
    width: 250px;
    padding: 60px;
    position: absolute;
    top: -10px;
    right: -100px;
    background-color: rgba(255,255,255,0.1);
    transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
}



/*Easy Block v3 (used for image badges)
------------------------------------*/
.easy-block-v3 {
  text-align: left;
  background: #585f69;
  padding: 30px 20px 20px;
}

.easy-block-v3.first {
  background: #696f77;
}
.easy-block-v3.second {
  background: #707780;
}
.easy-block-v3.third {
  background: #787f88;
}

.easy-block-v3 i {
  color: #fff;
  float: left;
  font-size: 30px;
  min-width: 45px;
  padding-top: 10px;
}

.easy-block-v3 .inner-faq-b {
  overflow: hidden;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3 {
  font-size: 21px;
  margin-bottom: 8px;
}

.easy-block-v3 .inner-faq-b h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 2px;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3,
.easy-block-v3 .inner-faq-b p {
  color: #fff;
}


/*Simple Block
------------------------------------*/
.simple-block {
  margin-bottom: 20px;
}

.simple-block img {
  width: 100%;
}

.simple-block p {
  text-align: center;
}

.simple-block .carousel-indicators {
  top: 10px;
  left: 65%;
  text-align: right;
}

.simple-block .carousel-indicators .active {
  background: #555;
}

.simple-block .carousel-indicators li {
  border-color: #555;
}

.simple-block .carousel-inner > .item {
  margin: 0;
}

.simple-block .responsive-video {
  margin-bottom: 3px;
}






/*Social Contacts
------------------------------------*/
.social-contacts li {
  padding: 5px 0;
  border-top: 1px solid #ddd;
}

.social-contacts li:first-child {
  border-top: none;
}

.social-contacts li i {
  color: #777;
  font-size: 13px;
  min-width: 13px;
  margin-right: 12px;
  text-align: center;
}






/*Desire Page
------------------------------------*/

/*Portfolio Single Item Page
------------------------------------*/



/*Bootstrap Testimonials
------------------------------------*/
.testimonials-bs {
  padding: 50px 0;
  background: url(../img/bg/16.jpg) 50% 0 repeat fixed;
}

.testimonials-bs .headline-center-v2 span.author {
  color: #777;
  font-size: 14px;
}

/*Removes Bootstrap carousel background images*/
.testimonials-bs .item {
  margin-bottom: 30px;
}

.testimonials-bs .carousel-arrow {
  text-align: center;
}

.testimonials-bs .carousel-control-v2 i {
  color: #888;
  width: 30px;
  height: 30px;
  padding: 2px;
  font-size: 22px;
  display: inline-block;
  border: 2px solid #888;
}

.testimonials-bs .carousel-control-v2 i:hover {
  color: #72c02c;
  border-color: #72c02c;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.testimonials-bs .carousel-control-v2.left,
.testimonials-bs .carousel-control-v2.right {
    text-decoration: none;
    background-image: none;
}

