<div class="item">
  <a href="/print/banners">
    <em class="overflow-hidden">
      <%= image_tag 'port_thumbs/banner.jpg', :class => 'img-responsive' %>
    </em>
    <span>
      <strong>Outdoor Banners</strong>
      <i></i>
    </span>
  </a>
</div>
