<div class="item">
  <a href="/print/brochures">
    <em class="overflow-hidden">
      <%= image_tag 'port_thumbs/brochure_thumb.jpg', :class => 'img-responsive' %>
    </em>
    <span>
      <strong>Brochures</strong>
      <i></i>
    </span>
  </a>
</div>
