<div class="item">
  <a href="/print/canvas">
    <em class="overflow-hidden">
      <%= image_tag 'port_thumbs/canvas.jpg', :class => 'img-responsive' %>
    </em>
    <span>
      <strong>Mounted Canvas</strong>
      <i></i>
    </span>
  </a>
</div>
