<div class="item">
  <a href="/print/postcards">
    <em class="overflow-hidden">
      <%= image_tag 'port_thumbs/postcard_thumb.jpg', :class => 'img-responsive' %>
    </em>
    <span>
      <strong>Postcards</strong>
      <i></i>
    </span>
  </a>
</div>
