<div class="item">
  <a href="/print/standard_cards">
    <em class="overflow-hidden">
      <%= image_tag 'port_thumbs/standard_card_thumb.jpg', :class => 'img-responsive' %>
    </em>
    <span>
      <strong>Standard Cards</strong>
      <i></i>
    </span>
  </a>
</div>
