---
priority: 0.4
layout: crossover_layout
---

<div class="jumbotron jumbollax jumbollax_crossover">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#FB5600;">Crossover Media Special Pricing</h1>
    <div class="voffset6"></div>
  </div>
</div>
<div class="container">
  <div class="voffset7"></div>
  <h1 class="text-muted text-center">Reduced Rate for Crossover Media clients</h1>
  <div class="voffset6"></div>
  <p><span class="dropcap">C</span>rossOver Media and Canary Print + Design have teamed together to bring all of Crossover's clients a very special price to encrypt their websites with SSL protection, Google search increases, and optional CDN for increased speed, optional Web Application Firewalls, and other optimizations.  <br><br> This offer won't be around for long so get it while you can!!
  </p>
  <h1>Only <s>$399</s> $249 for installation and certification!!  That's a $150 discount for being referred through CrossOver Media or it's affiliates!!</h1>
  <br>
  <p> Please fill out the form and we'll begin the process of giving you the security and peace of mind that SSL Encryption provides</p>

  <div class="row">
    <div class="col-xs-6">
      <%= partial "ssl_form" %>
    </div>
  </div>

  <p> <br>Click <%= link_to 'HERE', '/development.html' %> for more information on why SSL is so important.<br>
  <%= partial "ssl_info" %>
</div>

