---
priority: 0.4
layout: crossover_layout
---

<div class="jumbotron jumbollax jumbollax_crossover">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#FB5600;">Crossover Media Special Pricing</h1>
    <div class="voffset6"></div>
  </div>
</div>
<div class="container">
  <div class="voffset7"></div>
  <h1 class="text-muted text-center">Reduced Rate for Crossover Media clients</h1>
  <div class="voffset6"></div>
  <p><span class="dropcap">C</span>rossOver Media and Canary Print + Design have teamed together to bring all of Crossover's clients a very special price to encrypt their websites with SSL protection, Google search increases, and optional CDN for increased speed, optional Web Application Firewalls, and other optimizations.  <br><br> This offer won't be around for long so get it while you can!!
  </p>
  <h1>Only <s>$399</s> $249 for installation and certification!!
  <br>
  That's a $150 discount for being referred through CrossOver Media or it's affiliates!!</h1>
  <br>
  <%= partial "ssl_info" %>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title-v2">HTTPS Encryption</h2>
      <p>One of the most important Google updates recently is the additional attention they are giving SSL Encrypted Websites</p>
      <p>In 2014, Google released a report indicating that HTTPS would be used as a ranking signal (increasing your Google search ranking).</p>
      <blockquote class="hero">
        <p><em>"Security is a top priority for Google...we called for 'HTTPS Everywhere' on the web... we're starting to use HTTPS as a ranking signal."</em></p>
        <small><em><a href="https://googleonlinesecurity.blogspot.de/2014/08/https-as-ranking-signal_6.html">Google Security Blog</a></em></small>
      </blockquote>
      <p>Very recently, it was reported that Google would soon start <a href="http://motherboard.vice.com/read/google-will-soon-shame-all-websites-that-are-unencrypted-chrome-https">'shaming'</a> all websites that are unencrypted.  Google is getting more aggressive with their demands of an encrypted internet, and instead of simply ranking HTTPS higher than HTTP, they will be punishing websites that aren't encrypted.</p><br>
      <p>The final warning is from web browsers themselves!</p>
      <p>Browsers want to make it VERY clear when you're on an unecrypted network, so they're made the danger more visible by adding an X across the security lock on your website
      <br>
      <%= image_tag 'images/dev/example_unsecure.jpg' %>
      <p>Make sure you're encrypted and look safe!!
      <%= image_tag 'images/dev/canary_secured.jpg' %>
      </p><br><br>
        <div class="headline"><h2>Why order SSL?</h2>
        </div>
        <ol>
          <li>Google has stated they rank HTTPS/SSL higher than Non-SSL</li>
          <li>It has been reported that Google will soon LOWER the rank of unsecure sites!!</li>
          <li>Browsers will soon be showing when viewers are unencrypted, reducing trust in the website and company</li>
        </ol>
        <h3>Now, more than ever, it is important to be SSL protected!!</h3>
      </div>
    <div class="col-md-6">
      <%= image_tag 'images/dev/ssl_diagram.jpg' %>
    </div>
  </div>
</div>
