---
priority: 0.4
layout: crossover_layout
---

<div class="jumbotron jumbollax jumbollax_crossover">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#FB5600;">Crossover Media Special Pricing</h1>
    <div class="voffset6"></div>
  </div>
</div>
<div class="container">
  <div class="voffset7"></div>
  <h1 class="text-muted text-center">Reduced Rate for Crossover Media clients</h1>
  <div class="voffset6"></div>
  <p><span class="dropcap">C</span>rossOver Media and Canary Print + Design have teamed together to bring all of Crossover's clients a very special price to encrypt their websites with SSL protection, Google search increases, and optional CDN for increased speed, optional Web Application Firewalls, and other optimizations.  <br><br> This offer won't be around for long so get it while you can!!
  </p>
  <h1>Only <s>$399</s> $249 for installation and certification!!  That's a $150 discount for being referred through CrossOver Media or it's affiliates!!</h1>
  <br>
  <p> Please fill out the form and we'll begin the process of giving you the security and peace of mind that SSL Encryption provides</p>

  <div class="row">
    <div class="col-xs-8">
      <%= partial "ssl_form" %>
    </div>
  </div>

  <p> <br>Click <%= link_to 'HERE', '/development.html' %> for more information on why SSL is so important.<br>
  <div class="container content-sm">
    <div class="row margin-bottom-40">
      <div class="col-md-5 col-sm-6">
        <div class="pricing hover-effect">
          <div class="pricing-head pricing-silver">
            <h3>SSL Standard<span>Encryption for your website</span></h3>
            <h4><i>$</i>5<i>.99</i> <span>Per Month <br> + one-time $249 Installation/Testing/Verification</span></h4>
          </div>
          <ul class="pricing-content list-unstyled">
            <li class="animated wow fadeIn" data-wow-delay=".5s"><i class="fa fa-certificate"></i> SSL Certificate</li>
            <li class="animated wow fadeIn" data-wow-delay="1s"><i class="fa fa-google"></i> Google-recognized Protection<span></span></li>
            <li class="animated wow fadeIn" data-wow-delay="1.5s"><i class="fa fa-lock"></i> HTTPS Encryption<span></span></li>
          </ul>
          <div class="pricing-footer">
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 md-margin-bottom-40">
        <div class="service-block no-margin-bottom">
          <i class="fa fa-arrows-h payment-icon"></i>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="pricing hover-effect">
          <div class="pricing-head pricing-gold">
            <h3  class="service-block-yellow">Enhanced Security <span>Advanced Protection for your Business</span></h3>
            <h4><i>$</i>5<i>.99</i><i>+</i><i>$</i>24<i>.99</i><span>Per Month <br> + one-time $249 Installation/Testing/Verification</span></h4>
          </div>
          <ul class="pricing-content list-unstyled">
            <li class="animated wow fadeIn" data-wow-delay=".5s"><i class="fa fa-certificate"></i> SSL Certificate</li>
            <li class="animated wow fadeIn" data-wow-delay="1s"><i class="fa fa-google"></i> Google-recognized Protection<span></span></li>
            <li class="animated wow fadeIn" data-wow-delay="1.5s"><i class="fa fa-lock"></i> HTTPS Encryption<span></span></li>
            <li class="animated wow fadeIn" data-wow-delay="1.6s"><i class="fa fa-fast-forward"></i> Faster Site Performance (via CDN)</li>
            <li class="animated wow fadeIn" data-wow-delay="1.7s"><i class="fa fa-image"></i> Image/CSS Optimizations</li>
            <li class="animated wow fadeIn" data-wow-delay="1.8s"><i class="fa fa-flash"></i> Cache Optimizations</li>
            <li class="animated wow fadeIn" data-wow-delay="1.9s"><i class="fa fa-exchange"></i> Web Application Firewall</li>
            <li class="animated wow fadeIn" data-wow-delay="2s"><i class="fa fa-shield"></i> Protection against Hacking</li>
            <li class="animated wow fadeIn" data-wow-delay="2.1s"><i class="fa fa-shield"></i> Protection against Malicious Scripts</li>
            <li class="animated wow fadeIn" data-wow-delay="2.2s"><i class="fa fa-shield"></i> Protection against SQL Injection</li>
          </ul>
          <div class="pricing-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

