---
title: "Canary Print + Design"
---


<div class="jumbotron jumbollax jumbollax5">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">A few of our clients</h1>
    <div class="voffset6"></div>
  </div>
</div>



<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio container margin-bottom-60">
  <div class="content-xs">
    <ul id="filters-container" class="cbp-l-filters-text content-xs">
      <li data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </li> |
      <li data-filter=".branding" class="cbp-filter-item"> Branding </li> |
      <!-- <li data-filter=".web-design" class="cbp-filter-item"> Web Design </li> | -->
      <li data-filter=".graphic" class="cbp-filter-item"> Graphic Design </li> |
      <li data-filter=".logo" class="cbp-filter-item"> Logo </li>
    </ul><!--/end Filters Container-->
  </div>

  <div id="grid-container" class="cbp-l-grid-agency">



    <div class="cbp-item branding web-design graphic logo">
      <a href="design/surespan">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/clients/surespan_logo.png" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-alignCenter">
                <ul class="cbp-l-caption-body">
                  <li class="cbp-l-grid-agency-title">Surespan Group</li>
                  <li class="cbp-l-grid-agency-desc">Branding</li>
                  <!-- <li class="cbp-l-grid-agency-desc">Web Design</li> -->
                  <li class="cbp-l-grid-agency-desc">Graphic Design</li>
                  <li class="cbp-l-grid-agency-desc">Logo</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>





    <div class="cbp-item branding graphic">
      <a href="design/3percent">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/clients/3percent_logo.png" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-alignCenter">
                <ul class="cbp-l-caption-body">
                  <li class="cbp-l-grid-agency-title">3Percent Realty</li>
                  <li class="cbp-l-grid-agency-desc">Branding</li>
                  <li class="cbp-l-grid-agency-desc">Graphic Design</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>



    <div class="cbp-item branding web-design graphic logo">
      <a href="design/canadian-steam">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/clients/canadiansteam_logo.png" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-alignCenter">
                <ul class="cbp-l-caption-body">
                  <li class="cbp-l-grid-agency-title">Canadian Steam</li>
                  <li class="cbp-l-grid-agency-desc">Branding</li>
                  <!-- <li class="cbp-l-grid-agency-desc">Web Design</li> -->
                  <li class="cbp-l-grid-agency-desc">Graphic Design</li>
                  <li class="cbp-l-grid-agency-desc">Logo</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>




    <div class="cbp-item branding web-design graphic logo">
      <a href="design/aslan">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/clients/aslan_logo.png" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-grid-agency-title">Aslan Venture INC</div>
                  <div class="cbp-l-grid-agency-desc">Branding</div>
                  <!-- <div class="cbp-l-grid-agency-desc">Web Design</div> -->
                  <div class="cbp-l-grid-agency-desc">Graphic Design</div>
                  <div class="cbp-l-grid-agency-desc">Logo</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>




    <div class="cbp-item branding web-design graphic logo">
      <a href="design/pacific-denture">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/clients/pacificdenture_logo.png" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-alignCenter">
                <ul class="cbp-l-caption-body">
                  <li class="cbp-l-grid-agency-title">Pacific Denture</li>
                  <li class="cbp-l-grid-agency-desc">Branding</li>
                  <li class="cbp-l-grid-agency-desc">Graphic Design</li>
                  <li class="cbp-l-grid-agency-desc">Logo</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="cbp-item branding web-design graphic logo">
      <a href="design/calvori">
        <div class="cbp-caption">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/clients/calvori_logo.png" alt="">
          </div>
          <div class="cbp-caption-activeWrap BGCOLOR-STUFF">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-alignCenter">
                <ul class="cbp-l-caption-body">
                  <li class="cbp-l-grid-agency-title">Calvori Hearing</li>
                  <!-- <li class="cbp-l-grid-agency-desc">Web Design</li> -->
                  <li class="cbp-l-grid-agency-desc">Graphic Design</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>



  </div><!--/end Grid Container-->
</div>
<!--=== End Cube-Portfdlio ===-->
