---
priority: 0.4
---

<div class="jumbotron jumbollax jumbollax1">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">Web + Application Development</h1>
    <div class="voffset6"></div>
  </div>
</div>
<div class="voffset7"></div>
<h2 class="text-muted text-center">Websites | Online Apps | Systems</h2>
<div class="voffset6"></div>

<div class="container content-sm">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">OUR SERVICES</h2>
    <p class="space-lg-hor"> Canary Print has a team of dedicated and experienced professionals to help you get your dream project off the ground. Our designers and developers are educated and highly regarded in their respective fields, and keep their skills up-to-date with current trends and web-standards. </p>
  </div>
  <div class="row service-box-v1 margin-bottom-40">
    <div class="col-md-4 col-sm-6 md-margin-bottom-40">
      <div class="service-block service-block-default no-margin-bottom">
        <i class="radius-3x fa fa-cogs footer-icons "></i>
        <h2 class="heading-sm">Web Development</h2>
        <p></p>
        <ul class="list-unstyled">
          <li class="animated wow fadeIn" data-wow-delay=".2s">Responsive Web Design</li>
          <li class="animated wow fadeIn" data-wow-delay=".3s">E-commerce</li>
          <li class="animated wow fadeIn" data-wow-delay=".4s">Content Management Systems</li>
          <li class="animated wow fadeIn" data-wow-delay=".5s">Wordpress/Joomla/Static Sites</li>
          <li class="animated wow fadeIn" data-wow-delay=".6s">UI/UX Development</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 md-margin-bottom-40">
      <div class="service-block service-block-default no-margin-bottom">
        <i class="radius-3x fa fa-laptop footer-icons"></i>
        <h2 class="heading-sm">Online Applications</h2>
        <p></p>
        <ul class="list-unstyled">
          <li class="animated wow fadeIn" data-wow-delay=".2s">Analytics</li>
          <li class="animated wow fadeIn" data-wow-delay=".3s">Time Tracking</li>
          <li class="animated wow fadeIn" data-wow-delay=".4s">Billing/Invoice Management</li>
          <li class="animated wow fadeIn" data-wow-delay=".5s">E-Commerce Integration</li>
          <li class="animated wow fadeIn" data-wow-delay=".6s">Payment Integration</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="service-block service-block-default no-margin-bottom">
        <i class="radius-3x fa fa-lock footer-icons green-lock"></i>
        <h2 class="heading-sm">SSL Security</h2>
        <p></p>
        <ul class="list-unstyled">
          <li class="animated wow fadeIn" data-wow-delay=".2s">SSL Security</li>
          <li class="animated wow fadeIn" data-wow-delay=".3s">SHA256 Cryptography</li>
          <li class="animated wow fadeIn" data-wow-delay=".4s">Web Application Firewalls</li>
          <li class="animated wow fadeIn" data-wow-delay=".5s">CDN Performance Boosts</li>
          <li class="animated wow fadeIn" data-wow-delay=".6s">Google Search Improvements</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title-v2">HTTPS Encryption</h2>
      <p>One of the most important Google updates recently is the additional attention they are giving SSL Encrypted Websites</p>
      <p>In 2014, Google released a report indicating that HTTPS would be used as a ranking signal (increasing your Google search ranking).</p>
      <blockquote class="hero">
        <p><em>"Security is a top priority for Google...we called for 'HTTPS Everywhere' on the web... we're starting to use HTTPS as a ranking signal."</em></p>
        <small><em><a href="https://googleonlinesecurity.blogspot.de/2014/08/https-as-ranking-signal_6.html">Google Security Blog</a></em></small>
      </blockquote>
      <p>Very recently, it was reported that Google would soon start <a href="http://motherboard.vice.com/read/google-will-soon-shame-all-websites-that-are-unencrypted-chrome-https">'shaming'</a> all websites that are unencrypted.  Google is getting more aggressive with their demands of an encrypted internet, and instead of simply ranking HTTPS higher than HTTP, they will be punishing websites that aren't encrypted.</p><br>
      <p>The final warning is from web browsers themselves!</p>
      <p>Browsers want to make it VERY clear when you're on an unecrypted network, so they're made the danger more visible by adding an X across the security lock on your website
      <img class="img-responsive" src="images/dev/example_unsecure.jpg" alt="">
      <p>Make sure you're encrypted and look safe!!
      <img class="img-responsive" src="images/dev/canary_secured.jpg" alt="">
      </p><br><br>
        <div class="headline"><h2>Why order SSL?</h2>
        </div>
        <ol>
          <li>Google has stated they rank HTTPS/SSL higher than Non-SSL</li>
          <li>It has been reported that Google will soon LOWER the rank of unsecure sites!!</li>
          <li>Browsers will soon be showing when viewers are unencrypted, reducing trust in the website and company</li>
        </ol>
        <h3>Now, more than ever, it is important to be SSL protected!!  <%= link_to 'Contact', '/contact.html' %> us to order</h3>
      </div>
    <div class="col-md-6">
      <img class="img-responsive" src="images/dev/ssl_diagram.jpg" alt="">
    </div>
  </div>
</div>

