<div class="jumbotron jumbollax jumbollax4">
  <div class="container">
    <div class="voffset10">
      <%= image_tag 'logo_yellow_stack.png', :class => 'img-responsive main-logo'%>
    </div>
    <div class="voffset10"></div>
  </div>
</div>

<div class="container content">

  <div class="title-box">
    <div class="title-box-text animated wow bounceInLeft">We Do <i>Impressive</i> Print</div>
    <p class="animated wow bounceInRight">Make an <i>impression</i> on your clients with our high-end business cards and design services</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="promo-box">
        <a class="promo-icons" href="/print">
          <i class="fa fa-tablet color-green animated wow bounceInUp"></i>
          <strong>Commercial Print</strong>
          <p>From business cards to vinyl banners - check out our popular products</p>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="promo-box">
        <a class="promo-icons" href="/design">
          <i class="fa fa-tablet color-green animated wow bounceInUp"></i>
          <strong>Design Services</strong>
          <p>We have team of passionate, trained, and experienced designers ready to start on your next project</p>
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix margin-bottom-40"></div>
  <hr class="margin-bottom-40">

  <div class="row">
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-bell-o animated wow swing"></i>
      <div class="info-blocks-in">
        <h3>Cost-Effective</h3>
        <p>We sell business cards starting at 1,000pcs.  This saves you money, and ensures you always have enough cards for your clients</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-hdd-o animated wow swing"></i>
      <div class="info-blocks-in">
        <h3>Digital Proofs</h3>
        <p>Canary provides a digital proof before finalizing your order to make sure your information is correct and the design is accurate</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-lightbulb-o animated wow swing"></i>
      <div class="info-blocks-in">
        <h3>Creativity without Borders</h3>
        <p>Have some out-of-this-world ideas for your branding or website?  Our designers and developers love working outside the box!</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-comments-o animated wow swing"></i>
      <div class="info-blocks-in">
        <h3>Engage Clients</h3>
        <p>Professional design will engage your clients and encourage interaction with developing markets</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-code animated wow swing"></i>
      <div class="info-blocks-in">
        <h3>Programmers</h3>
        <p>Canary has programmers and developers to bring your web-design to life</p>
      </div>
    </div>
    <div class="col-sm-4 info-blocks">
      <i class="icon-info-blocks fa fa-compress animated wow swing"></i>
      <div class="info-blocks-in">
        <h3>Fully Responsive</h3>
        <p>All our websites are fully responsive for mobile devices and tablets!</p>
      </div>
    </div>
  </div>

  <hr class="margin-bottom-50">

</div>

