---
priority: 0.4
---

<div class="jumbotron jumbollax jumbollax1">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">SSL Security</h1>
    <div class="voffset6"></div>
  </div>
</div>
<div class="voffset7"></div>
<h1 class="text-muted text-center">Choose your plan</h1>
<div class="voffset6"></div>
<div class="container content-sm">
  <div class="row margin-bottom-40">
    <div class="col-md-5 col-sm-6">
      <div class="pricing hover-effect">
        <div class="pricing-head pricing-silver">
          <h3>SSL Standard<span>Encryption for your website</span></h3>
          <h4><i>$</i>5<i>.99</i> <span>Per Month <br> + one-time $249 Installation/Testing/Verification</span></h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li class="animated wow fadeIn" data-wow-delay=".5s"><i class="icon-certificate"></i> SSL Certificate</li>
          <li class="animated wow fadeIn" data-wow-delay="1s"><i class="icon-google"></i> Google-recognized Protection<span></span></li>
          <li class="animated wow fadeIn" data-wow-delay="1.5s"><i class="icon-lock"></i> HTTPS Encryption<span></span></li>
        </ul>
        <div class="pricing-footer">
          <p>Click below to order via PayPal</p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="FDLMRBR7SKSDL">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 md-margin-bottom-40">
      <div class="service-block no-margin-bottom">
        <i class="icon-arrows-h payment-icon"></i>
      </div>
    </div>
    <div class="col-md-5 col-sm-6">
      <div class="pricing hover-effect">
        <div class="pricing-head pricing-gold">
          <h3  class="service-block-yellow">Enhanced Security <span>Advanced Protection for your Business</span></h3>
          <h4><i>$</i>5<i>.99</i><i>+</i><i>$</i>24<i>.99</i><span>Per Month <br> + one-time $249 Installation/Testing/Verification</span></h4>
        </div>
        <ul class="pricing-content list-unstyled">
          <li class="animated wow fadeIn" data-wow-delay=".5s"><i class="icon-certificate"></i> SSL Certificate</li>
          <li class="animated wow fadeIn" data-wow-delay="1s"><i class="icon-google"></i> Google-recognized Protection<span></span></li>
          <li class="animated wow fadeIn" data-wow-delay="1.5s"><i class="icon-lock"></i> HTTPS Encryption<span></span></li>
          <li class="animated wow fadeIn" data-wow-delay="1.6s"><i class="icon-fast-forward"></i> Faster Site Performance (via CDN)</li>
          <li class="animated wow fadeIn" data-wow-delay="1.7s"><i class="icon-picture"></i> Image/CSS Optimizations</li>
          <li class="animated wow fadeIn" data-wow-delay="1.8s"><i class="icon-flash"></i> Cache Optimizations</li>
          <li class="animated wow fadeIn" data-wow-delay="1.9s"><i class="icon-exchange"></i> Web Application Firewall</li>
          <li class="animated wow fadeIn" data-wow-delay="2s"><i class="icon-shield"></i> Protection against Hacking</li>
          <li class="animated wow fadeIn" data-wow-delay="2.1s"><i class="icon-shield"></i> Protection against Malicious Scripts</li>
          <li class="animated wow fadeIn" data-wow-delay="2.2s"><i class="icon-shield"></i> Protection against SQL Injection</li>
        </ul>
        <div class="pricing-footer">
          <p>Click below to order via PayPal</p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="D7RGHZN6AXN3C">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
