---
priority: 0.4
---

<div class="jumbotron jumbollax jumbollax1">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">SSL Security</h1>
    <div class="voffset6"></div>
  </div>
</div>
<div class="voffset7"></div>
<h1 class="text-muted text-center">Choose your plan</h1>
<div class="voffset6"></div>
<div class="container">
<h2>Two available plans to choose from</h2>
<p>Our SSL Silver plan gives SSL/HTTPS encryption on your website, and includes setting up your DNS servers and basic modifications to your site (Wordpress, Joomla, static sites, etc).  This gives you google page-ranking boosts, and ensures your visitors feel safe while browsing your site.  Our GOLD package contains advanced protection against hacking and speed-boosting services.</p>
<p>As soon as your payment is processed (usually immediately), we'll contact you to confirm your plan and begin securing your website</p>
</div>

<%= partial "ssl_info" %>
