<div class="jumbotron jumbollax jumbollax6">
  <div class="container">
    <div class="voffset10"></div>
    <h1 style="color:#E8E8E8;">SPECIAL OFFER</h1>
    <div class="voffset8"></div>
  </div>
</div>

<div class="container content">

  <div class="title-box">
    <div class="title-box-text animated wow fadeIn" data-wow-delay=".5s">1,000 cards for $49 (shipping included)</div>
    <p class="animated wow fadeIn" data-wow-delay="1s">Limited time offer!</p>
  </div>

  <div class="voffset5"></div>

  <div class="promo-cta">
    <h1>Send us your email address now to get this special sale-price before it ends!</h1>
    <%= partial "forms/promo_cta1" %>
  </div>

  <div class="clearfix margin-bottom-40"></div>
  <div class="col-sm-6">
    <div class="headline"><h2>Card Features</h2></div>
    <div class="col-sm-12 info-blocks animated wow fadeIn" data-wow-delay=".2s">
      <h2>1,000 cards</h2>
      <p>Lots Lot’s of high quality cards that you will WANT to share!</p>
    </div>
    <div class="col-sm-12 info-blocks animated wow fadeIn" data-wow-delay=".2s">
      <h2>16pt Stock</h2>
      <p>A professional grade, thicker card, you and your clients will be able to feel the difference.</p>
    </div>
    <div class="col-sm-12 info-blocks animated wow fadeIn" data-wow-delay=".2s">
      <h2>Matte Finish</h2>
      <p>A mature smooth finish without that cheap "shiny" look to it</p>
    </div>
    <div class="col-sm-12 info-blocks animated wow fadeIn" data-wow-delay=".2s">
      <h2>4/4 Full Color Both Sides</h2>
      <p>With both sides of the card to work with, you get more space, better design, and clearer information for your contacts.</p>
    </div>
    <div class="col-sm-12 info-blocks animated wow fadeIn" data-wow-delay=".2s">
      <h2>Offset Printing Press</h2>
      <p>Offset printing is higher quality, more consistent colors and a noticeable difference in quality, when compared to digital printing.</p>
    </div>
    <div class="col-sm-12 info-blocks animated wow fadeIn" data-wow-delay=".2s">
      <h2>Drop-Shipped</h2>
      <p>Shipping is included in the price! We ship directly to you or your client, giving you the professional option to include your own mark-up. Our branding will not be shown; it is all about making you look great!</p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="voffset8"></div>
    <%= image_tag 'img1.jpg', :class => 'img-responsive' %>
    <h1>Be proud of your brand</h1>
    <p>Your new cards will show the world just how much you care about your company image </p>
    <div class="voffset8"></div>
  </div>
</div>

<div class="promo-cta-bottom">
  <div class="container">
    <div class="voffset6"></div>
    <h1 class="promo-cta-h1">LAST CHANCE to get this amazing price</h1>
    <p>Do you want 1,000 high-quality business cards, shipped right to your door, for $49?
    <br>
    Enter your email now and we'll contact you to set up your order.
    <br>
    <h3>Don't wait any longer!</h3>
    <%= partial "forms/promo_cta_bottom" %>
  </div>
</div>
